h3 Entries

.row
  each entry, i in entries
    .span6
      // h4 #{entry.title}&nbsp;
      iframe.preview(src='/entry/' + entry.id)
      p
        a.btn.small.primary(href='/admin/entries/' + entry.id + '/edit') Edit &raquo
        &nbsp;
        a.btn.small.danger(href='/admin/entries/' + entry.id + '?_method=delete') Delete

hr

.pagination
  ul
    li.prev
      a &larr; Previous
    li.active
      a(href='/admin/entries/page/1') 1
    li
      a(href='/admin/entries/page/2') 2
    li
      a(href='/admin/entries/page/3') 3
    li
      a(href='/admin/entries/page/4') 4
    li.next
      a Next &rarr;