h3 Entries

.row
  each entry, i in entries
    .span6
      // h4 #{entry.title}&nbsp;
      iframe.preview(src='/entry/' + entry.id)
      p
        a.btn.small.primary(href='/admin/entries/' + entry.id + '/edit') Edit &raquo
        &nbsp;
        a.btn.small.danger(href='/admin/entries/' + entry.id + '?_method=delete') Delete

hr

.pagination
  ul
    li.prev
      a &larr; Previous
    li.active
      a 1
    li
      a 2
    li
      a 3
    li
      a 4
    li.next
      a Next &rarr;