form.form-stacked(action='/admin/entries', method='post')
  fieldset
    legend add
    .clearfix
      label(for='entry[title]') Title
      .input
        input.xlarge(id='entry[title]', name='entry[title]', size='30', type='text')
    .clearfix
      label(for='entry[body]') Body
      .input
        textarea.span10(id='entry[body]', name='entry[body]', rows='20')
  .actions
    button.btn.primary(type='submit') Save
