.entry
  div.body !{data.body}

footer.clearfix
  h1.title #{data.title}
    span.number #{data.num} / #{total}

  - if (reload)
    p.reload
      a(href='/random', target='_self')
        img(src='http://uniba.jp/ref/images/btn_reload.png')