!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://jashkenas.github.com/coffee-script/extras/coffee-script.js')
    script(src='/underscore.js')
    script(src='/backbone.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.js')
  body!= body
  p
    a(href='/add', style='text-align: right;') add