@import 'node_modules/nib/lib/nib/index.styl'

html, body
  height: 100%
  background: transparent
  
body
  font-size: 0.85em
   
.body
  padding: 1em
  
.entry
  height: 266px
  margin: 0 0 1px 0
  background-color: #ffffff
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .3)
  
footer
  width: 400px

h1
  float: left
  height: 23px
  width: 400px - 24px - 10px
  padding: 0 5px
  background-color: rgba(208, 208, 208, 0.73)
  color: #ffffff
  font-size: 0.8em
  font-family: Helvetica, Arial, sans-serif
  font-weight: normal
  line-height: 23px
  position: relative;
  
  span
    position: absolute
    right: 5px

.reload
  float: right
  width: 23px
  height: 23px
  background-color: rgba(208, 208, 208, 0.73)
  cursor: pointer
  
  & a
    display: block
    width: 23px
    height: 23px
    transition: all 0.4s ease-out
    -webkit-transform-origin: center center
    
    img
      padding: 5px 0 0 5px
    
  &:hover
    a
      transform: rotate(-360deg)
      
  & a:link
  & a:visited
    text-decoration: none
    color: #888