@import 'node_modules/nib/lib/nib/index.styl'

html, body
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .3)
  height: 100%

.title
  fixed: bottom 0 left 0
  padding: 5px
  font-size: small
  font-family: 'Helvetica Neue'
  color: #777

.number
  fixed: right 0 bottom 0
  padding: 5px
  font-size: small
  font-family: 'Helvetica Neue'
  color: #777

.reload
  fixed: top 0 right 0
  padding: 5px
  font-size: large
  transition: all 0.5s ease-in-out
  &:hover
    transform: rotate(-360deg)
  & a:link
  & a:visited
    text-decoration: none
    color: #888